<div class="container has-text-centered" style="padding-top:3%; width: 50%">
	<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="margin-bottom: 7%;">
		<thead>
			<tr>
				<th>X</th>
				<th>Y</th>
				<th>Z</th>
			</tr>
		</thead>
		<tbody hx-get="/api/robot/current" hx-trigger="load, every 500ms" hx-swap="innerHTML" ></tbody>
	</table>

	<div class="field is-grouped is-grouped-centered" style="margin-bottom: 7%;">
		<div class="control">
			<input class="input " type="number" placeholder="X" id="x" name="x" />
		</div>
		<div class="control">
			<input class="input" type="number" placeholder="Y" id="y" name="y" />
		</div>
		<div class="control">
			<input class="input" type="number" placeholder="Z" id="z" name="z" />
		</div>
		<div class="control">
			<button class="button is-info" hx-post="/api/robot/move" hx-trigger="click" hx-ext="json-enc" hx-swap="none" hx-include="[name='x'], [name='y'], [name='z']" hx-headers="{'ContentType': 'application/json'}">
				Move
			</button>
			<button class="button is-danger" hx-post="/api/robot/move_unsafe" hx-trigger="click" hx-ext="json-enc" hx-swap="none" hx-include="[name='x'], [name='y'], [name='z']" hx-headers="{'ContentType': 'application/json'}">
				Move Unsafe
			</button>
		</div>
	</div>

	<div class="field is-grouped is-grouped-centered" style="margin-bottom: 7%;">
		<div class="control">
			<div class="select">
				<select id="tool" name="tool">
					<option value="gripper">Gripper</option>
					<option value="suction">Suction</option>
				</select>
			</div>
		</div>
		<div class="control">
			<div class="select">
				<select id="state" name="state">
					<option value="true">On</option>
					<option value="false">Off</option>
				</select>
			</div>
		</div>
		<div class="control">
			<button class="button is-info" hx-post="/api/robot/tool" hx-trigger="click" hx-ext="json-enc" hx-swap="none" hx-include="[name='tool'], [name='state']" hx-headers="{'ContentType': 'application/json'}">
				Submit
			</button>
		</div>
	</div>




	<button class="button is-info" hx-post="/api/robot/home" hx-header="{'ContentType': 'application/json'}" hx-swap="none" hx-ext="json-enc">
		Home
	</button>
</div>